body {
    font-family: monospace;
    color: darkgoldenrod;
    background-image: url(../imagens/universo.jpg);
    background-repeat: no repeat;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

